<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Library Application - REST API using CRUD database operations.</title>
</head>
<body>
<h1>
    Library Application - REST API using CRUD database operations.
</h1>
<h2>Information about this application</h2>
<ul>
    <li>
        This application is designed as REST API using CRUD operations with H2 database support.
    </li>
    <li>
        Documentation for this API is created using Swagger and can be found at:
        <br>
        <a th:href="${url_link_documentation}" th:text="${url_info_documentation}"></a>
    </li>
    <li>
        Access to H2 database console can be done at (passing in JDBC URL field:
        <span th:text="${h2_url_field_info}">
        </span>):
        <br>
        <a th:href="${url_link_h2}" th:text="${url_info_h2}"></a>
    </li>
</ul>
<!--
dodać opis w application.properties dla info
opisać actuator/info
opisać mappings
dodać informację o mnie ze sciezka do githuba
-->
</body>
</html>
